/*.nav-wrapper, .nav-wrapper li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.nav-wrapper {
  height: 125px;
  background-color: #000;
  position: relative;
  display: flex;
  overflow: hidden;
}
.nav-wrapper li a {
  display: block;
  height: 125px;
}
.nav-wrapper .t,
.nav-wrapper .d {
  display: block;
  padding-top: 20px;
  padding-left: 15px;
  font-family: Verdana, Geneva, sans-serif;
  transition: all .2s ease-in-out 0s;  
}
.nav-wrapper .t {
  font-size: 20px;
  color: rgba(255,255,255,.7);
  font-weight: bold;
}
.nav-wrapper .d {
  font-size: 12px;
  color: rgba(255,255,255,.5);
}
.nav-wrapper li:hover .t,
.nav-wrapper li:hover .d {
  color: #fff;
}
.nav-wrapper li {
  height: 125px;
  width: 150px;
  min-width: 150px;
  background: #f90;
  float: left;
  transition: all .5s ease-in-out 0s;
}
.nav-wrapper li:hover {
  width: 2000px;
}
.nav-wrapper .m1 {
  background: #8B3EB5;
}
.nav-wrapper .m2 {
  background: #f90;
}
.nav-wrapper .m3 {
  background: #356CFF;
}
.nav-wrapper .m4 {
  background: #9A2C15;
}*/

/*This connects to my jumbotron in my header.php and putiing the color to whitesmoke 
and putting the text-align to center.*/
.jumbotron h1{
    color:whitesmoke;
    text-align: center;
    font-family: 'Diplomata SC';
}
/*This connects to my jumbotron in my header.php and we are inserting a background-image and ajusting the size to it.*/
.jumbotron{
    background-image: url('http://farm3.staticflickr.com/2791/4352711047_e703ebfe2c.jpg');  
    background-size: cover;
  
}

/*Here this # symbol connects to the draggable "id" and puts a new width,height and zero padding.*/
#draggable{
    width: 50px;
    height: 50px;
}
/*This connects to the navigation bar in the header.php and we are putting the text alignment centered.*/
#nav{
    text-align: center;
}

img {
    background-image: url("http://3.bp.blogspot.com/_bsfahNTj3tk/TUkXqp1otjI/AAAAAAAABDM/efmFzpnV-1A/s1600/space_bokeh_background_awake_seamless_tile_pattern_pattterns_tiles.jpg");
    background-size: cover;
}